* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.custom-navbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 4;
    width: 100%;
    display: flex;
    padding: 0.3rem 0;
    background-image: url(./images/navbarBackgound.jpg);
    align-items: center;
}

.customBootstrapNavbar {
    background-image: url(./images/navbarBackgound.jpg);
}

.custom-navbar-container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.custom-navbar-icon-container {
    width: 20%;
    margin: 0.5rem 1rem;
}

.custom-navbar-icon {
    width: 35px;
    border-radius: 4px;
}

.custom-navbar-logo-text  {
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
}

.custom-navbar-content-container-ul {
    list-style: none;
    display: flex;
    width: 80%;
    padding: 0;
    margin: 0;
    justify-content: right;
}

.custom-navbar-content-container-li {
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 0.05em;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .custom-navbar-active {
    border-bottom: 2px solid #fff;
    font-weight: bolder;
} */

.custom-services-dropdown-container {
    position: fixed;
    border: 1px solid black;
    left: 78%;
    z-index: 20;
}

.custom-services-dropdown-container-ul {
    list-style: none;
}

.custom-services-dropdown-container-li {
    padding: 0.5rem 1rem;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.custom-services-dropdown-container-li:hover {
    background-color: #E8E8E8;
}

.whoarewe-container {
    margin: 1rem;
}

.whoarewe-header-text {
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.5px;
    color: #195582;
}

.whoarewe-content {
    color: black;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-align: justify;
}

.accordion-body {
    text-align: justify;
}

.card-text {
    text-align: justify;
}

.custom-footer-container {
    width: 100%;
    background-color: black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.custom-footer-section-container {
    display: flex;
    width: 100%;
}

.custom-footer-section {
    width: 50%;
}

.custom-footer-section-header {
    font-weight: bold;
    color: #fff;
}

.custom-footer-copyrights {
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
}

.custom-footer-section-ul {
    list-style: none;
}

.custom-footer-divider {
    color: #fff;
}

.custom-footer-section-li {
    font-size: 15px;
    color: #fff;
    padding: 0.25rem 0;
    display: flex;
    align-items: center;
}

.contactUsSection {
    list-style: none;
    width: 100%;
}

.contactUsSectionContainer {
    width: 100%;
    display: flex;
}

.contactUsListItem {
    width: 100%;
    display: flex;
}

.contactUsListItemIcon {
    width: 8%;
}

.contactUsListItemContent {
    width: 92%;
    text-align: justify;
}

.footerListItemContent {
    width: 92%;
    color: #fff;
}

.contactUsLink,
.contactUsLink:hover,
.contactUsLink:active {
    text-decoration: none;
    outline: none;
    color: inherit;
}

.contactUsAddress {
    padding-left: 34px;
}

.customContactUsSection {
    display: flex;
}

.mobileIcon {
    display: none;
}

.serviceCard {
    height: 265px;
}

.mobileContainer {
    display: none;
}

/* mobile style */

@media (max-width: 576px) {
    .customContactUsSection {
        display: flex;
        flex-direction: column;
    }

    .custom-navbar-content-container-ul {
        display: none;
    }

    .mobileIcon {
        display: flex;
        width: 80%;
        margin: 10px;
        justify-content: flex-end;
    }

    .mobileServiceColumn {
        margin-bottom: 10px;
    }

    .serviceCard {
        height: 280px;
    }

    .contactUsSection {
        padding: 0;
    }

    .custom-footer-section-container {
        flex-direction: column;
    }

    .custom-footer-section {
        width: 100%;
    }

    .custom-footer-section-ul {
        display: flex;
        list-style: none;
        padding: 0;
        justify-content: space-between;
    }

    .mobileContainer {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        z-index: 6;
        margin: 0;
        padding: 0;
        background-image: url(./images/navbarBackgound.jpg);
    }

    .mobileIconContainer {
        margin: 20px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobileContainerLogo  {
        display: flex;
        justify-content: center;
        width: 90%;
    }

    .mobileContainerClose {
        width: 10%;
    }

    .mobileNavigationContainer {
        margin: 10px 0;
    }

    .mobileNavigationDivider {
        display: flex;
        align-items: center;
        padding: 25px;
        border-bottom: 1px solid black;
    }

    .mobileNavigationDividerIcon {
        margin-right: 15px;
    }
  
    .mobileNavigationDividerLabel {
        letter-spacing: 2px;
        color: #000;
        font-weight: bolder;
        font-size: 22px;
    }

}